<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/style.css' />
		<script type="text/javascript">
			var context = <%- context %>;
		</script>
		<script src="/js/vendor.bundle.js"></script>
		<script src="<%- bundle %>"></script>
	</head>

	<body>
		<header>
			<div id="header"><%- header %></div>
		</header>

		<main>
			<div id="main"><%- main %></div>
		</main>

		<footer>
			<div id="footer"><%- footer %></div>
		</footer>
	</body>
</html>

